<h1>Data Binding Demo</h1>

<h3>Property Binding</h3>
<div [innerText]="'Hello'"></div>
<div [innerText]="message"></div>


<h3>Attribute Binding</h3>
<input type="text" [attr.value]="name"/>

<h3>Event Binding</h3>
<div (mousemove)="showMouse($event)">
    This is some text 
</div>

<h3>Class and Style Binding</h3>
<div [class.big]="isBig"
     [style.background-color]="isBig ? 'silver' : 'blue' ">A simple message!</div>
<button (click)="toggleBig()">Toggle</button>

<p></p>
<input type="checkbox"  #big  (click)="true"/>Big 
<input type="checkbox"  #bright (click)="true" />Bright
<div [style.font-size]="big.checked ? '30pt' : '10pt'"
     [style.color]="bright.checked ? 'red' : 'black'">
    Another Message</div>
